@use "variables" as vars;


*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: Manrope;
  src: url(../../font/Manrope-ExtraBold.ttf);
  font-weight: 800;
}

body {
  margin: 0;
  background-color: vars.$dark-blue;
  font-family: Manrope, sans-serif;
  font-weight: 800;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.advice {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  margin: 20px;
 

  &__container {
    background-color: vars.$dark-grayish-blue;
    width: 21.5rem;
    text-align: center;
    padding: 1.8rem 1.5rem 2.5rem;
    border-radius: 10px;
    position: relative;
    top: -16px;
  }

  &__label {
    text-transform: uppercase;
    font-size: 0.71rem;
    color: vars.$neon-green;
    letter-spacing: 0.2rem;
  }

  &__text {
    color: vars.$light-cyan;
    font-size: 1.466rem;
    line-height: 2.1rem;

    &::after {
      display: block;
      content: "";
      background-image: url(../../images/pattern-divider-mobile.svg);
      background-repeat: no-repeat;
      background-position: center;
      height: 1rem;
      width: 100%;
      margin-top: 1.4rem;
    }
  }

  &__button {
    border: none;
    outline: none;
    padding: 1.2rem;
    border-radius: 50%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2rem;
    margin-left: auto;
    margin-right: auto;
    width: 4rem;
    height: 4rem;
    background-color: vars.$neon-green;
    line-height: 0;
    cursor: pointer;

    &:hover {
      box-shadow: 0 0 20px 5px rgba(vars.$neon-green, 0.5);
    }

    &:disabled:hover {
      box-shadow: none;
    }
  }
}

.button {

  &__img {
    pointer-events: none;
    width: 100%;
    opacity: 1;
  }

  &__loader {
    pointer-events: none;
    position: absolute;
    width: 80%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
    opacity: 0;
  }
}

.feedback {
  position: absolute;
  top: -100px;
  opacity: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  max-height: fit-content;
  width: fit-content;
  background-color: rgba(crimson, 0.8);
  padding: 0.5rem;
  border: 1px solid vars.$light-cyan;
  color: rgba(black, 0.7);
  transition: top 0.4s, opacity 0.6s;

  &__text {
    margin: 0;
  }
}

@media (min-width: 500px){

  .advice {
    height: initial;
    min-height: 100vh;
  }
  
}

@media (min-width: 1200px) {
  .advice {
    &__container {
      width: 33.8rem;
      padding: 2.16rem 2.5rem 3rem;
      border-radius: 13px;
    }

    &__label {
      font-size: 0.84rem;
      letter-spacing: 0.237rem;
    }

    &__text {
      font-size: 1.715rem;
      line-height: 2.4rem;
      margin: 1.5rem 0;

      &::after {
        background-image: url(../../images/pattern-divider-desktop.svg);
        margin-top: 2.42rem;
      }
    }
  }
}
